@{
    ViewData["Title"] = "Application";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.IndexModel

@section css {
    <link href="@Url.Content("~/css/applicationstylingcss.css")" rel="stylesheet" type="text/css" />
}


@{
    if (Context.Session.GetString("UserSession") != "organizer" && Context.Session.GetString("UserSession") != "club" && Context.Session.GetString("UserSession") != "competitor")
    {
        <script>
            window.location.href = "@Url.Action("Login", "Home")";
        </script>
    }
}



<div class="container-application">
    <div class="box1">
        @{
            if (Context.Session.GetString("UserSession") == "competitor")
            {
                await Html.RenderPartialAsync("_CompetitorViewApplication", Model);

            }
            else if (Context.Session.GetString("UserSession") == "club")
            {
                await Html.RenderPartialAsync("_ClubViewApplication", Model);

            }
            else
            {
                <p>To view the different partial views, login with an account with either of the access below!</p>
                <p>Club account: kalle@splashify.se pw:123</p>
                <p>Competitor account: kenny@splashify.se pw:123</p>
            }

        }
    </div>

    <div class="box2">
        <div class="title upcoming-title-h1">
            Upcoming Events
        </div>
        <div class="event-list-box">
            @Html.Raw(TempData.Peek("UpcomingEvents"))

        </div>
        @using (Html.BeginForm("UppcomingEvents", "Event", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <input type="submit" value="Search" />
            </fieldset>

        }

        <div class="title clubs-title-h1">
            Clubs
        </div>
        <div class="event-list-box">
            @Html.Raw(TempData.Peek("Clubs"))

        </div>

        @using (Html.BeginForm("Clubs", "Club", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <input type="submit" value="Search" />
            </fieldset>
        }


    </div>


</div>