@{
    ViewData["Title"] = "Application";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.IndexModel

@section css {
    <link href="@Url.Content("~/css/applicationstylingcss.css")" rel="stylesheet" type="text/css" />
}


@{
    if (Context.Session.GetString("UserSession") != "organizer" && Context.Session.GetString("UserSession") != "club" && Context.Session.GetString("UserSession") != "competitor")
    {
        <script>
            window.location.href = "@Url.Action("Login", "Home")";
        </script>
    }
}


<div class="container-application">
    <div class="box1">
        <div class="title eventapp-title-h1">Event Application</div>
        @using (Html.BeginForm("", "", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <input type="number" name="EventNameField" placeholder="Event ID" />
                <input type="submit" value="Apply" />
            </fieldset>
        }
        <div class="title clubapp-title-h1">
            Club Application
        </div>
        @using (Html.BeginForm("", "", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <input type="text" name="ClubNameField" placeholder="Club Name" />
                <input type="submit" value="Apply" />
            </fieldset>
        }
    </div>

    <div class="box2">
        <div class="title upcoming-title-h1">
            Upcoming Events
        </div>
        @using (Html.BeginForm("GetEvent", "Event", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <input type="submit" value="Search" />
            </fieldset>

        }
        @Html.Raw(ViewBag.events)


        <div class="title clubs-title-h1">
            Clubs
        </div>

        @using (Html.BeginForm("", "", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <input type="submit" value="Search" />
            </fieldset>
        }


        @Html.Raw(ViewBag.ppl)

    </div>
</div>