@{
    ViewData["Title"] = "Dashboard";
}

@model Splashify.Models.SearchModel
<<<<<<< HEAD
=======

>>>>>>> Splashify/search_1

@section css {
    <link href="@Url.Content("~/css/dashboardstylingcss.css")" rel="stylesheet" type="text/css" />
}


<script>
    /* Attempt of getting dynamic data from viewbag into google grapgs */
    /*var temp1 = ViewBag.dataj;
    var datassa = JSON.parse(temp1);*/

    var datass = @Html.Raw(Json.Serialize(@ViewBag.dataj));
                @ViewBag.dataj
</script>

<div class="view-container">
    <div class="view-scoring view-box1">
        <div class="view-topbox1">
            <span>
                Competitors: 56
                </br>
                Judges:12
                </br>
                Clubs: 8
            </span>
        </div>
        <div class="view-topbox2">
            <span>
                Next event: 2021-06-06
                </br>
                Total events: 132
            </span>
        </div>
        <div class="view-topbox3">
            <span>
                Average Score: 7
                </br>
                Highest Score: 10
                </br>
                Lowest score: 4
            </span>
        </div>
    </div>

    <div class="view-scoring view-box2">
        <div class="view-bottombox1">
<<<<<<< HEAD
        <form asp-controller="DashboardSearch" asp-action="GetSearch" method="post">

            <input asp-for="SearchField" type="text" class="random" placeholder="test" />
            <span id="error-message" asp-validation-for="SearchField"></span>

            <div class="custom-select">
                <select asp-for="value">
                    <option value="0">Select type:</option>
                    <option value="1">Competitor</option>
                    <option value="2">Judge</option>
                    <option value="3">Event</option>
                </select>
            </div>
            <input type="submit" value="Search">

        </form>
        @Html.Raw(ViewBag.search)
=======
            <form asp-controller="DashboardSearch" asp-action="GetSearch" method="post">

                <input asp-for="SearchField" type="text" class="SearchBar" placeholder="Search"/>
                <span id="error-message" asp-validation-for="SearchField"></span>

                <div class="custom-select">
                    <select asp-for="Value" required>
                        <option value="">Select type:</option>
                        <option value="1">Competitor</option>
                        <option value="2">Judge</option>
                        <option value="3">Event</option>
                    </select>
                </div>
                <input type="submit" value="submit" />
            </form>
            <div>
                @Html.Raw(ViewBag.search)
            </div>
>>>>>>> Splashify/search_1
        </div>

        <div class="view-bottombox2">

            @*Google chart *@
            @* Need to get correct fromat into/from viewbag for dynamic graph data*@

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        ['VM', 11],
                        ['OS Summer', 2],
                        ['SM', 2],
                        ['EM', 4],
                    ]);

                    var options = {
                        title: 'Events',
                        pieHole: 0.4,
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                    chart.draw(data, options);
                }</script>
            <div id="donutchart"></div>
        </div>
    </div>
</div>
