
@{
    ViewData["Title"] = "Scoring";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.IndexModel

@{
    if (Context.Session.GetString("UserSession") != "organizer" && Context.Session.GetString("UserSession") != "judge")
    {
        <script>
            window.location.href = "@Url.Action("Login", "Home")";
        </script>
    }
}

@section css {
    <link href="@Url.Content("~/css/scoringstylingcss.css")" rel="stylesheet" type="text/css" />
}

<div class="scoring-container">

    <div class="top-box">
        <div class="scoring-header">
            <h1 id="event-title-h1">Current competition</h1>
            <div class="competition-list-box">
                @Html.Raw(TempData.Peek("eventjumps"))

            </div>
            @using (Html.BeginForm("GetEvent", "Event", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <input type="submit" value="Get Event" />
                </fieldset>

            }
        </div>
    </div>

    <div class="main-container">
        <div class="main box1">
            @using (Html.BeginForm("SetScore", "Scoring", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="lable-box">
                        <ul>
                            <li><lable>Competitor ID</lable></li>
                            <li><lable>Jump Code</lable></li>
                            <li><lable>Score</lable></li>
                        </ul>
                    </div>
                    <div class="input-box">
                        <input type="number" name="ContestantIDField" placeholder="Contest ID" required />
                        <input type="text" name="JumpTypeField" placeholder="Jump code e.g. 101A" required />
                            <select name="ScoreField" required>
                                <option value="">Score:</option>
                                <option value="0">0</option>
                                <option value="0.5">0.5</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                                <option value="5.5">5.5</option>
                                <option value="6">6</option>
                                <option value="6.5">6.5</option>
                                <option value="7">7</option>
                                <option value="7.5">7.5</option>
                                <option value="8">8</option>
                                <option value="8.5">8.5</option>
                                <option value="9">9</option>
                                <option value="9.5">9.5</option>
                                <option value="10">10</option>
                            </select>
                            <input type="submit" value="submit" />
                    </div>
                </fieldset>
            }

        </div>

        <div class="main box2">

            <div class="info-box groupnr">
                <h1 id="jmp-info-h1">Jump Type Codes</h1>
                <ul>
                    <li id="jmp-info-li">100: Forward</li>
                    <li id="jmp-info-li">100: Forward</li>
                    <li id="jmp-info-li">101: Backward</li>
                    <li id="jmp-info-li">102: Islander</li>
                    <li id="jmp-info-li">103: German</li>
                    <li id="jmp-info-li">104: Handstand</li>
                    <li id="jmp-info-li">105: Pike</li>
                </ul>
                <ul>
                    <li id="jmp-info-li">200: Forward</li>
                    <li id="jmp-info-li">201: Backward</li>
                    <li id="jmp-info-li">202: Islander</li>
                    <li id="jmp-info-li">203: German</li>
                    <li id="jmp-info-li">204: Handstand</li>
                    <li id="jmp-info-li">205: Pike</li>
                </ul>
                <ul>
                    <li id="jmp-info-li">300: Forward</li>
                    <li id="jmp-info-li">301: Backward</li>
                    <li id="jmp-info-li">302: Islander</li>
                    <li id="jmp-info-li">303: German</li>
                    <li id="jmp-info-li">304: Handstand</li>
                    <li id="jmp-info-li">305: Pike</li>
                </ul>
                <ul>
                    <li id="jmp-info-li">400: Forward</li>
                    <li id="jmp-info-li">401: Backward</li>
                    <li id="jmp-info-li">402: Islander</li>
                    <li id="jmp-info-li">403: German</li>
                    <li id="jmp-info-li">404: Handstand</li>
                    <li id="jmp-info-li">405: Pike</li>
                </ul>
                <ul>
                    <li id="jmp-info-li">500: Forward</li>
                    <li id="jmp-info-li">501: Backward</li>
                    <li id="jmp-info-li">502: Islander</li>
                    <li id="jmp-info-li">503: German</li>
                    <li id="jmp-info-li">504: Handstand</li>
                    <li id="jmp-info-li">505: Pike</li>
                </ul>
                <ul>
                    <li id="jmp-info-li">600: Forward</li>
                    <li id="jmp-info-li">601: Backward</li>
                    <li id="jmp-info-li">602: Islander</li>
                    <li id="jmp-info-li">603: German</li>
                    <li id="jmp-info-li">604: Handstand</li>
                    <li id="jmp-info-li">605: Pike</li>
                </ul>
            </div>
            <div class="info-box style">
                <h1 id="jmp-info-h1">Jump Type Styles</h1>
                <ul>
                    <li id="jmp-info-li">A: Forward</li>
                    <li id="jmp-info-li">B: Forward</li>
                    <li id="jmp-info-li">C: Backward</li>
                    <li id="jmp-info-li">D: Islander</li>
                </ul>
            </div>
        </div>
    </div>
</div>
