@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.CompetitorModel

<div class="title eventapp-title-h1">Event Application</div>
<div class="event-application">
    @using (Html.BeginForm("EventApplication", "Event", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <input type="text" name="eventID" placeholder="Event ID" />
            <input type="submit" value="Apply" />
        </fieldset>
    }

</div>

<div class="title club-h1">Club Members</div>
<div class="infobox club-members">
    @Html.Raw(ViewBag.ClubMembers)
</div>

@using (Html.BeginForm("ClubMembers", "Club", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="submit" value="Refresh" id="refreshbtn" />
    </fieldset>
}

<div class="title enrolled-h1">Enrolled Members</div>

<div class="infobox enrolled-competitors">
    @Html.Raw(ViewBag.EnrolledMembers)
</div>

@using (Html.BeginForm("EnrolledMembers", "club", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="submit" value="Search" />
    </fieldset>
}
<div class="title eventapp-title-h1">Enroll Competitors</div>

<div class="enroll-competitors">
    @*@using (Html.BeginForm("EnrollMember", "Club", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <select asp-for="eventID" name="eventID" asp-items="new SelectList(ViewBag.OptionEventList)">
                    <option value="">Select Event:</option>
                    <option value="os2021">os2021</option>
                    <option value="vm2021">vm2021</option>
                    <option value="Dyk Kupp 2021">Dyk Kupp 2021</option>
                </select>
                <input type="number" name="userID" placeholder="User ID" />
                <input type="submit" value="Apply" />
            </fieldset>
        }*@


    <form asp-controller="Club" asp-action="EnrollMember" method="post">
        <select asp-for="eventID" asp-items="@Model.eventList">
            </select>
        <input asp-for="userID" type="number" class="form-control" placeholder="User ID" />
        <button type="submit" id="refreshbtn" name="button">Submit</button>
    </form>

    @*@Html.DropDownListFor(model => model.eventID, Model.eventList, "please", new { id = "test" })*@

    </div>

<div class="title clubapp-title-h1">Club Applications</div>

<div class="infobox clubapp">
    @Html.Raw(ViewBag.ClubApps)
</div>
@using (Html.BeginForm("ClubApplicationManagment", "ApplicationHandler", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="number" name="userID" placeholder="User ID" />
        <button type="submit" id="refreshbtn" name="button" value="refresh">Refresh</button>
        <button type="submit" id="approvebtn" name="button" value="accept">Accept</button>
        <button type="submit" id="denybtn" name="button" value="deny">Deny</button>
    </fieldset>
}