@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@model Splashify.Models.CompetitorModel


@{
    ViewBag.test=TempData["test"];

}



<div class="title eventapp-title-h1">Event Application</div>
<div class="event-application">
    @using (Html.BeginForm("EventApplication", "Event", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <input type="text" name="eventID" placeholder="Event ID" />
            <input type="submit" value="Apply" />
        </fieldset>
    }

</div>

<div class="title club-h1">Club Members</div>
<div class="infobox club-members">
    @Html.Raw(TempData.Peek("ClubMembers"))
</div>

@using (Html.BeginForm("ClubMembers", "Club", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="submit" value="Refresh" id="refreshbtn" />
    </fieldset>
}

<div class="title enrolled-h1">Enrolled Members</div>

<div class="infobox enrolled-competitors">
    @Html.Raw(TempData.Peek("EnrolledMembers"))

</div>

@using (Html.BeginForm("EnrolledMembers", "club", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="submit" value="Search" />
    </fieldset>
}
<div class="title eventapp-title-h1">Enroll Competitors</div>

<div class="enroll-competitors">

    <form asp-controller="Club" asp-action="EnrollMember" method="post">
        <select asp-for="eventID" asp-items="@ViewBag.OptionEventList">
            <option>Select:</option>
        </select>

        <input asp-for="userID" type="number" class="form-control" placeholder="User ID" />
        <button type="submit" id="refreshbtn" name="button">Submit</button>
    </form>

</div>

<div class="title clubapp-title-h1">Club Applications</div>

<div class="infobox clubapp">
    @Html.Raw(TempData.Peek("ClubApps"))

</div>
@using (Html.BeginForm("ClubApplicationManagment", "ApplicationHandler", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="number" name="userID" placeholder="User ID" />
        <button type="submit" id="refreshbtn" name="button" value="refresh">Refresh</button>
        <button type="submit" id="approvebtn" name="button" value="accept">Accept</button>
        <button type="submit" id="denybtn" name="button" value="deny">Deny</button>
    </fieldset>
}