@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Splashify</title>
    @RenderSection("css", false)


    @*<link rel="stylesheet" href="~/css/newstylingcss.css" />*@

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> @*body*@
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    @*title*@

    <link href="@Url.Content("~/css/layoutstylingcss.css")" rel="stylesheet" type="text/css" />

    <link runat="server" rel="shortcut icon" href="~/css/icons/sharkloggoico.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/css/icons/sharkloggoico.ico" type="image/ico" />

</head>

<body>
    <div class="header">
        <div class="app-logo">
            <div class="image-logo">

            </div>
        </div>
        <div class="main-title">
            <div>
                <a href="/">Splashify.</a>
            </div>
        </div>
        <partial name="_LoginPartial" />
    </div>
    <div class="container">

        <div class="grid side-bar">
            <div class="user-info-box">
                <div class="user-pic">
                    <div class="user-pic-holder">
                    </div>
                </div>

                <div class="user-text">
                    @if (Context.Session.GetString("UserSession") != null)
                    {
                        <p>Role: @Context.Session.GetString("UserSession")</p>
                    }
                </div>
            </div>

            <div class="button-area">

                <div class="sidebutton button1">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">
                        <div class="button-icon btn1"></div>
                        <div class=" button-text">Dashboard</div>
                    </a>
                </div>
                @if (Context.Session.GetString("UserSession") == "judge" || Context.Session.GetString("UserSession") == "organizer")
                {
                    <div class="sidebutton button2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Scoring">
                            <div class="button-icon btn2"></div>
                            <div class=" button-text">Scoring</div>
                        </a>
                    </div>
                }
                @if (Context.Session.GetString("UserSession") == "club" || Context.Session.GetString("UserSession") == "competitor")
                {
                    <div class="sidebutton button3">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Application">
                            <div class="button-icon btn3"></div>
                            <div class=" button-text">Application</div>
                        </a>
                    </div>
                }
                @if (Context.Session.GetString("UserSession") == "organizer")
                {
                    <div class="sidebutton button4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Managment">
                            <div class="button-icon btn4"></div>
                            <div class=" button-text">Management</div>
                        </a>
                    </div>
                }
                </div>

        </div>

        <div class="grid content">

            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="grid footer">
            <p>
                System- och programvaruutveckling, VT21, DT117G
                Andréas Jansson, Gunnar Stutter, Anton Rosbo, Björn Nickander
            </p>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



